:root {
    --background-primary-color: #ffffff;
    --background-secondary-color: #f0f0f0;

    --text-color: #000000;

    --primary-color: #32ac77;
    --secondary-color: #df0000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--text-color);
    background: var(--background-primary-color);
    line-height: 1.6;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
