@import './base.css';

#app {
    max-width: 80vw;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
}

a {
}

@media (hover: hover) {
    a:hover {
    }
}

@media (min-width: 1024px) {
}
